:root {
    --primary-bg-color: #e7f3ff;
    --primary-color: #2467d5;

    --text-white: #ffffff;
    --text-black: #000000;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.7;
    font-family: "Quicksand", sans-serif;
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
    overflow-x: hidden;
}

#root {
    overflow-x: hidden;
}

h1,
h2,
h3 {
    color: var(--text-black);
}
button {
    cursor: pointer;
}

/* navigation bar */
.navbar {
    padding: 15px 0;
}

.navbar {
    align-items: center;
}

.navbar .nav-link {
    padding: 5px 20px;
    font-weight: 600;
}
.navbar .nav-link:hover {
    color: var(--primary-color);
}

.dark-btn {
    color: var(--text-white);
    background-color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    padding: 9px 40px;
    border-radius: 25px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}

.dark-btn::before,
.dark-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 42px;
    z-index: -1;
}

.dark-btn::before {
    animation: pulse-blue-medium-sm 3.5s infinite;
}

.dark-btn::after {
    animation: pulse-blue-small-sm 3.5s infinite;
}

/*------Header Btn Animation------*/
@keyframes pulse-blue-small-sm {
    0% {
        box-shadow: 0 0 0 0 rgba(73, 112, 242, 0.7);
    }

    100%,
    30% {
        box-shadow: 0 0 0 12px transparent;
    }
}

@keyframes pulse-blue-medium-sm {
    0% {
        box-shadow: 0 0 0 0 rgba(73, 112, 242, 0.4);
    }

    100%,
    30% {
        box-shadow: 0 0 0 20px transparent;
    }
}

@media screen and (max-width: 767px) {
    .video {
        height: 300px;
        border-radius: 15px;
    }
    .video img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

/* ------------Waves-Animation---------------- */
.waves-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
}

.waves {
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border-radius: 100%;
    z-index: -1;
    -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
}

.wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    position: absolute;
    top: 0;
}

.wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    position: absolute;
    top: 0;
}

@keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }

    100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

footer a {
    font-weight: 600;
}
